html, body {
    height: 100%;
    background-image: url("bg.png");
    background-repeat: no-repeat;
}

.container {
    height: inherit;
}

.row-fluid {
    height: inherit;
}

.main{
    height: inherit;
}

#search_box {
	margin-top: 40%;
	font-size: 2em;
}

#search_button {
	margin-top: 20px;
	width: 100%;
	font-size: 1.5em;
	
}

.carousel {
    border: 1px solid white;
    padding: 10px;
}

#search_result {
	margin-top: 20%;
}