html, body {
    height: 100%;
}

.container {
    height: inherit;
}

.row-fluid {
    height: inherit;
}

.main{
    height: inherit;
}

#search_box {
	margin-top: 40%;
}

.carousel {
    border: 1px solid white;
    padding: 10px;
}

#search_result {
	margin-top: 20%;
}